.about-container {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-image {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/profile.jpg");
}