.hero {
    padding: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.typewriter-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.typewriter {
    font-size: 2rem;
}

.intro-text {
    font-size: 4rem;
    font-weight: 800;
}

.intro-desc-text {
    font-size: 2rem;
    font-weight: 100;
}

.hire-me-button {
    display: flex;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    color: #fff;
    background-color: #ff885d;
    border: none;
    border-radius: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hire-me-button:hover {
    background-color: #fff;
    cursor: pointer;
    color: #ff885d;
}


