.portfolio-container {
    padding: 0 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.portfolio-subtitle-container {
    text-align: center;
    padding: 0 4rem;
}

.portfolio-tags-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.portfolio-tag-button {
    display: flex;
    padding: .8rem 2.5rem;
    font-size: 1rem;
    color: #ff885d;
    background-color: #fff;
    border: #ff885d solid 1px;
    border-radius: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.portfolio-tag-button:hover {
    background-color: #ff885d;
    cursor: pointer;
    color: #fff;
}

.portfolio-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 1rem;
}

@media (max-width: 1200px) {
    .portfolio-cards-container {
        grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
    }
}

@media (max-width: 768px) {
    .portfolio-cards-container {
        grid-template-columns: repeat(1, 1fr); /* 3 equal columns */
    }
}

.project-image {
    height: 150px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    border-radius: 1rem;
}

.project-image:hover {
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}


